
<div class="create_task">

  <app-create-task>
    <p title>Create Task</p>
     <mat-form-field apperance ="standard" [formGroup] =" todoForm">
       <mat-label>Todo ...</mat-label>
       <input matInput placeholder ="Task" formControlName ="todo"/>
      </mat-form-field>
      <button mat-stroked-button color="primary" (click) ="createTask()">Create</button>

  </app-create-task>



  <!-- <app-create-task>
    <p title>Create Task</p>
    <mat-form-field appearance="standard" >
      <mat-label>Todo...</mat-label>
      <input matInput placeholder="Task"  [(ngModel)] ="task" />
    </mat-form-field>
    <button mat-stroked-button color="primary" (click) ="createTask()">Create</button>
  </app-create-task> -->
</div>

<div class="todos">
  <div class ="todo" *ngFor ="let task of tasks">
    <app-tasks >
      <h4 title [ngClass] = "task.done== true ? 'complete' :'incomplete'">{{task.name}}</h4>
      <div>
      </div>
    </app-tasks>
  </div> 
</div>